<!DOCTYPE HTML>

<html>
	<head>
		<title>ANT - ERP</title>
			<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
			<meta charset="utf-8">
			<link href="style.css" rel="stylesheet" type="text/css">


	</head>
	<body>


<div class="nav-side-menu">
    <div class="brand">Aqui vai o Logo</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">

  <li  data-toggle="collapse" data-target="#products" class="collapsed active">
                  <a href="#"><i class="fa fa-gift fa-lg"></i> Minha Conta </a>
                </li>


            <ul id="menu-content" class="menu-content collapse out ">
                <li data-toggle="collapse" data-target="#products" class="collapsed active">
                  <a href="#">
                  <i class="fa fa-dashboard fa-lg"></i> Dashboard
                  </a>
                </li>

                <li  data-toggle="collapse" data-target="#service" class="collapsed">
                  <a href="/clientes"><i class="fa fa-users fa-lg"></i> Clientes </a>
                </li>

                <li data-toggle="collapse" data-target="#service" class="collapsed">
                  <a href="/produtos"><i class="fa fa-list fa-lg"></i> Produtos </a>
                </li>



                <li data-toggle="collapse" data-target="#new" class="collapsed">
                  <a href="#"><i class="fa fa-wrench fa-lg"></i> Serviços </a>
                </li>




                <li data-toggle="collapse" data-target="#new" class="collapsed">
                  <a href="#"><i class="fa fa-tags fa-lg"></i> Ordem de serviço</a>
                </li>

                 <li data-toggle="collapse" data-target="#new" class="collapsed">
              <a href="#"><i class="fa fa-shopping-cart fa-lg"></i> Vendas</a>
                </li>

                <li data-toggle="collapse" data-target="#new" class="collapsed">
                  <a href="#"><i class="fa fa-folder fa-lg"></i> Arquivos </a>
                </li>

                 <li data-toggle="collapse" data-target="#new" class="collapsed">
                  <a href="#"><i class="fa fa-money fa-lg"></i> Financeiro </a>
                </li>



                <li data-toggle="collapse" data-target="#new" class="collapsed">
                  <a href="#"><i class="fa fa-sign-out fa-lg"></i> <%= link_to('Sair', destroy_user_session_path, :method => :delete) %> </a>
                </li>
            </ul>
     </div>
</div>


</body>
