<!DOCTYPE HTML>

<html>
	<head>
		<title>ANTERP - Registro de novo Usuário</title>
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<meta charset="utf-8">
		<link href="app/assets/stylesheets/loginregister.css" rel="stylesheet" type="text/css">
		<link rel="shortcut icon" href="nossologoquenãoexiste.png" >

	</head>
	<body>

		<br />

		<h2 align="center">ANT ERP</h2>

		<h2 align="center">Por favor, preencha os dados abaixo para realizar o seu cadastro:</h2>

		<div class="container">
			<div class="card card-container">
				<!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
				<img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
				<p id="profile-name" class="profile-name-card"></p>
				<form class="form-signin">
					<span id="reauth-email" class="reauth-email"></span>
					<!-- Formulario referente a pagina de cadastro de novo usuario -->
					<input type="text" id="inputUserRegister" class="form-control" placeholder="     Usuário" required autofocus name="UserRegister">
					<input type="email" id="inputEmailRegister" class="form-control" placeholder="     Email" required autofocus name="EmailRegister">
					<input type="password" id="inputPasswordRegister" class="form-control" placeholder="     Senha" required name="PasswordRegister">
					<br />
					<div id="remember" class="checkbox">
						<!-- Checkbox referente aos termos e condições -->
						<label>
							<input type="checkbox" value="remember-me">
							Concordo com os <a href="">Termos e condições</a> </label>

					</div>
					<br />
					<!-- Botao para realizar o cadastro -->
					<button class="btn btn-lg btn-success btn-block btn-signin" type="submit" name="btnnewregister">
						Realizar Cadastro
					</button>

				</form><!-- /form -->

			</div><!-- /card-container -->

		</div><!-- /container -->

		<br />
		<br />
		<p align="center">
			<i class="fa fa-copyright"></i> ANT Sistemas - Todos os direitos reservados.
		</p>

	</body>
